.tableContainer {
    width: 1200px;
}

.filtersContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tableHeaders {
    color: #5e5cdc;
}

.addButton {
    width: 100px;
    height: 35px;
}

